.ajanlat-container {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f9; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.form-container,
.template-add-container {
  max-width: 600px;
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1,
.template-add-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-container label,
.template-add-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.form-container input,
.form-container select,
.template-add-container input,
.template-add-container textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.template-add-container textarea {
  height: 100px;
  resize: vertical;
}

.form-container button,
.template-add-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover,
.template-add-container button:hover {
  background-color: #45a049;
}

/* Reszponzív kialakítás */
@media (max-width: 768px) {
  .ajanlat-container {
    flex-direction: column;
    align-items: center;
  }
}

.template-delete-container {
  max-width: 600px;
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.template-delete-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.template-delete-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.template-delete-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.template-delete-container #deleteButton {
  width: 100%;
  padding: 10px;
  background-color: #f44336; /* Piros szín a törléshez */
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.template-delete-container #deleteButton:hover {
  background-color: #d32f2f; /* Sötétebb piros a hover állapothoz */
}

/* Reszponzív kialakítás */
@media (max-width: 768px) {
  .template-delete-container {
    width: 100%; /* Full-width on smaller screens */
    margin-bottom: 20px;
  }
}

.accordion-button:hover {
  background-color: #abc8f7 !important;
}