.ajanlat-container {
  font-family: inherit;
  /* background-color: #f4f4f9; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Form (Quotation) Container Styles */
.form-container {
  max-width: 600px;
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  color: #555;
}

.form-container input,
.form-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

 button {
  padding: 12px;
  
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #45a049;  
}

/* Template Add Container Styles */
.template-add-container {
  max-width: 600px;
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.template-add-container h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.template-add-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  color: #555;
}

.template-add-container input,
.template-add-container textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.template-add-container textarea {
  height: 100px;
  resize: vertical;
}

.template-add-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-danger {
  background-color: #e74c3c;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

.btn-edit {
  background-color: #2ecc71;
  color: #ffffff;
}

.btn-edit:hover {
  background-color: #27ae60;
  transform: translateY(-2px);
  color:white;
}


/* Template Delete Container Styles */
.template-delete-container {
  max-width: 600px;
  flex: 1;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.template-delete-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.template-delete-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  color: #555;
}

.template-delete-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Reszponzív kialakítás */
@media (max-width: 768px) {
  .ajanlat-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .template-add-container,
  .template-delete-container {
    width: 100%; /* Full-width on smaller screens */
    margin-bottom: 20px;
  }
}

.accordion-button:hover {
  background-color: #abc8f7;
}

#leirasAccord {
  margin-bottom: 15px;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
